<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style= "background-image: url(https://html5book.ru/wp-content/uploads/2015/07/background39.png);"">
      <a class="navbar-brand-logo" href="/welcome"> <img src="/img/woolly-mc.png" 
        width="90" height="90" alt="Welcome"> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link <% if(active=== 'Home' ){%>active<%}%>" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <% if(active=== 'Welcome' ){%>active<%}%>" href="/welcome">Welcome</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Выпадающий список
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/rowT">Действие</a></li>
              <li><a class="dropdown-item" href="/spinnerTest">Другое действие</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/welcome" tabindex="-1" aria-disabled="true">Отключенная</a>  <!--Активность определяет=> aria-disabled="true"-->
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
          <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
      </div>
    </div>
  </nav>